<h1>Page#about</h1>
<p>Find me in app/views/page/about.html.erb</p>
Who you are
Why you sell the items you sell
Based in San Francisco, California
How long you have been in business
How long you have been running your online shop
Who are the people on your team- Owner is Sherie Carter
Contact information
Social links (Twitter, Facebook)
