

<!-- <%= image_tag("http://images.contentful.com/xrqt4fyyv2yx/2mEh3eu0lW2C0s2oCiSsgK/3059b428a953d9b03885d04f7d3e37d4/v-day_06.jpg?fl=progressive&w=1100&q=40")%> -->



<h1>Page#home</h1>
<p>Find me in app/views/page/home.html.erb</p>
